.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button.btnCss {
  height: 35px;
  width: 45px;
}

input.inputCont {
  width: 175px;
  border: none;
}

input.resCont {
  width: 175px;
  border: none;
  text-align: right;
}

.resultsContainer {
  width: 178px;
  margin: auto;
  border: 1px solid #a8a7a7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
